# =========================
# DATASETS (NO SUBIR)
# =========================
data/
data/**
archive.zip

# =========================
# MODELS / CHECKPOINTS
# =========================
models/
runs/
mlruns/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/
